.videoPlayer {
  position: relative;
  width: 1200px;
  height: 675px;
  max-width: 1200px;
  max-height: 675px;
  background-color: black;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .videoPlayer__controls {
    opacity: 1;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    font-size: 16px;
    .videoPlayer__column:first-child {
      display: flex;
      align-items: center;
      grid-column: 1;
      margin-left: 10px;
      i {
        font-size: 25px;
        cursor: pointer;
      }
    }
    .videoPlayer__volume {
      position: absolute;
      padding: 0;
      opacity: 1;
      top: -51px;
      left: -18px;
      transform: rotate(-90deg);
      z-index: 10;
      width: 80px;
    }
    .hidden {
      opacity: 0;
      input {
        background-color: rgba(0, 0, 0, 0.7);
        &::-webkit-slider-runnable-track {
          background-color: $grey;
          height: 5px;
        }
        &::-webkit-slider-thumb {
          all: unset;
          background-color: $red;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          position: relative;
          top: -5px;
        }
      }
    }

    .videoPlayer__column:nth-child(2) {
      grid-column: 2;
      margin-left: 10px;
      font-size: 25px;
      cursor: pointer;
    }

    .videoPlayer__column:nth-child(3) {
      grid-column: 3/25;
      .videoPlayer__playRange {
        max-width: none;
        margin: 10px 0;
        padding: 0;
        opacity: 1;
        top: 8px;
        left: 90px;
        z-index: 10;
        width: 100%;
        overflow: hidden;
        -webkit-appearance: none;
        background-color: #9a905d;
      }

      .videoPlayer__playRange::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
      }

      .videoPlayer__playRange::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: grabbing;
        background: #ffffff;
        box-shadow: -80em 0 0 80em #eee781;
      }
    }
    .videoPlayer__column:last-child {
      grid-column: 25/-1;
      margin: auto;
      #totalTime {
        margin-right: 10px;
      }
    }
  }
}
